body{
    height: 100%;
    width: 100%;
    background-color: blue;
    background-image: url('/public/dlayouthcss/img/f1.jpg');
    background-position: center top;
   /* background-position: 50% 50%;*/
    background-repeat: no-repeat;
    background-size: cover;
}
