
body{
    height: 100%;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
   /*  background-image: url('/logincss/img/banner7.jpg'); */
}
.table{

    /*background: #ccc;*/
    
    
    height: 30vh;
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 280px;

    /*
    margin: 50px auto;
    width: 80%;
    */
    
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30vh;
    width:  40%;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-content: center;
    */
}
#tablita th,td {
    padding: 20px;
    width: 150px;
}
.title2{
    padding-top: 100px;
    /*background: #ccc;*/
    width: fit-content;
    margin: 0 auto;
    top: 50%;
    bottom: 70%;
    right: 70%;
    color: rgb(0, 0, 0);
}